/* Just a basic style so the content looks good */
:root {
  --yellow: #ffc600;
  --black: #272727;
}
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image:linear-gradient(110deg, #f93d66, #6d47d9);
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 5px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* Default styles for grid items */
.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--yellow);
  text-align: center;
}

.item p {
  margin: 0 0 5px 0;
}